.txt-gradient{
    background: #DF144B;
    background: -webkit-linear-gradient( 
80deg,#DF144B,#FF223F 50%,#FF5601);
    background: linear-gradient( 
80deg,#DF144B,#FF223F 50%,#FF5601);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.txt-gradient::selection {
    background: #cccccc !important;

    background: -webkit-linear-gradient( 
80deg,rgba(0,0,0,.4),rgba(0,0,0,.4) 50%,rgba(0,0,0,.4)) !important;
    background: linear-gradient( 
80deg,rgba(0,0,0,.4),rgba(0,0,0,.4) 50%,rgba(0,0,0,.4)) !important;
    color: rgba(0,0,0,.4) !important;
    text-shadow: none;
}

.back-orange-gradient{
    background: -webkit-linear-gradient( 
80deg,#DF144B,#FF223F 50%,#FF5601);
    background: linear-gradient( 
80deg,#DF144B,#FF223F 50%,#FF5601);
}

.back-blue{
    background: #1F4EFE;
}

.back-light-blue{
    background: #0AA7FF;
}

.page-title{
    border-radius: 5px;
    padding: 7px 15px;

}

.arrow-down{
    background: #F0F0F0;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}

.main-menu-list li a{
    text-transform: none;
    font-size: 15px;
    font-family: HyundayMedium;
    font-family: 'Inter', sans-serif;
    color: #4D4D4D;
    padding: 0 30px;
    min-height: 60px;
    font-weight: 600;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.main-menu-list li.uk-active a{
    color: #DF144B;
    border-bottom: 1px solid #DF144B;   
}

.main-menu-list li a:hover{
    color: #DF144B;
    margin-top: -2px;
    /* border-bottom: 1px solid #DF144B;    */

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.main-menu-list li.uk-active a:hover{
    margin-top: 0;
}

.main-menu-border{
    border-color: #EAEAEA;
    margin-top: -1px !important;

}

.sidebar-menu{
    width: 256px;   
}

@media(max-width: 960px){
    .sidebar-menu{
        width: initial;   
    }
}


.sidebar-menu ul li.active a{
    font-family: HyundayBold,  "HelveticaNeue-Bold";
    color: #DF144B;
    font-family: 'Inter', sans-serif;
}

/** START SECTION ONE **/

.download-btn{
    border: 1px solid #E41D41;
    display: block;
    font-family: HyundayBold;
    font-family: 'Inter', sans-serif;
    color: #E41D41;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    font-weight: 800;
}

.download-btn:hover{
    background: #E41D41;
    color: white;
}

.download-btn .white{
    display: none;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.download-btn:hover .white{
    display: initial;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.download-btn:hover .red{
    display: none;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.logo-container{
    
}

.home-social-link{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.home-social-link:hover{
    opacity: .7;

    margin-top: -2px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.lang-container{
    position: absolute;
    right: 0;
    top: 50%;
}

.lang-container a{
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
}
.lang-container a:hover{
    cursor: pointer;
    color: #DF144B;

    margin-top: -2px;
    position: relative;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
}

.lang-container a.active{
    border-bottom: 1px solid black;
    /* font-weight: bold; */
    /* color: #DF144B; */
}

.section-one{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(245,245,247,1) 150%);
}

.section-one-back-one{
    background: url(/web/20220124054219im_/https://tngr.media/wp-content/themes/tngrtheme/assets/images/back1.png) no-repeat;
    background-size: 58%;
    background-position: top left;
}
.section-one-back-two{
    background: url(/web/20220124054219im_/https://tngr.media/wp-content/themes/tngrtheme/assets/images/back2.png) no-repeat;
    background-size: 50%;
    background-position: top right;
}

.home-title{
    font-family: HyundayBold;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
}


@keyframes gradient-waver {
	0% {
        background: #DF144B;
        background: -webkit-linear-gradient( 
    80deg,#DF144B,#FF223F 50%,#FF5601);
        background: linear-gradient( 
    80deg,#DF144B,#FF223F 50%,#FF5601);

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
	}

	100% {
        background: #DF144B;
        background: -webkit-linear-gradient( 
    20deg,#DF144B,#FF223F 10%,#FF5601);
        background: linear-gradient( 
    20deg,#DF144B,#FF223F 10%,#FF5601);

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
	}
}

.home-title .txt-gradient{

    -webkit-animation: gradient-waver 1s infinite;
    animation: gradient-waver 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 

   
}

.city-photo-link a:hover{
    /* transform: scale(1.5); */

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}




@keyframes border-bounce {
    0% {
        transform: scale(1);
        transform: rotate(20deg);
    }

    60% {

        transform: rotate(0deg);
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);


    }
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    border: 3px solid white;

    
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.dot-red{
    background: #FF223F; 
    -webkit-animation: border-bounce 2s infinite;
    animation: border-bounce 2s infinite;
}
.dot-blue{ background: #1F4EFE; 
    -webkit-animation: border-bounce 2s infinite;
    animation: border-bounce 2s infinite;}

.dot-orange{ background: #FF5601; 
    -webkit-animation: border-bounce 2.4s infinite;
    animation: border-bounce 2.4s infinite;}

.dot-purple{
    background: #8B388B; 
    -webkit-animation: border-bounce 2.4s infinite;
    animation: border-bounce 2.4s infinite;
}

.dot-pink{ background: #CC22FF; 
    -webkit-animation: border-bounce 2.6s infinite;
    animation: border-bounce 2.6s infinite;}
.dot-yellow{ background: #FFB800; 
    -webkit-animation: border-bounce 1s infinite;
    animation: border-bounce 1s infinite;}



.dot-txt{
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-top: -8px;
    font-family: HyundayBold;
    font-family: 'Inter', sans-serif;
}

.home-main-slider-boss{
    overflow: initial;
}

.home-main-slider-container{

}

.home-main-slider-container li{
    min-width: 230px;
    margin-right: 5px;
}

.home-main-slider-container li:hover{
    /* margin-top: -10px; */
}


.card-panel{
    white-space: normal;
    box-shadow: 0px 3px 15px rgb(0 0 0 / 6%);
    transition: all .3s cubic-bezier(0,0,.5,1);
    border-radius: 10px;
    padding-bottom: 60px;
    background: white;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}


.card-panel::before{
    content:'';
    width: 25px;
    height: 8px;
    display: block;
    margin-top: -40px;
    margin-bottom: 30px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.card-panel:hover::before{
    width: 50px;
    /* height: 3px;
    margin-bottom: 35px; */

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.card-report{
    width: 254px;
}

.card-about::before{
    background: #FFB800;
}

.card-news::before{
    background: #0AA7FF;
}

.card-report::before{
    background: #FF223F;
}

.card-hr::before{
    background: #1F4EFE;
}

.card-contact::before{
    background: #FFB800;
}

.card-panel:hover{
    transform: scale(1.03);
    /* margin-top: -10px; */


    -webkit-transition: all 0.1s alternate;
    -moz-transition: all 0.1s alternate;
    -o-transition: all 0.1s alternate;
    transition: all 0.1s alternate; 
}

.card-panel ul{
    z-index: 10;
    position: relative;
}

.card-plan-icon{
    right: 25px;
    bottom: 20px;
    z-index: 0;
}


.card-white ul li a:hover{
    color: black;
    margin-left: 3px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.card-about ul li a:hover{

}

.card-about ul li a:hover{
    color: rgba(255,255,255,.6);

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}



.card-panel ul li a::before{
    content: "";
    background-color: rgba(0,0,0,.15);
    display: inline-block;
    border-radius: 100px;
    
    position: relative;
    top: -1px;
    margin-right: 10px;

    width: 7px;
    height: 7px;
}


.card-about ul li a::before{
    content: "";
    background-color: #FFB800;
    display: inline-block;
    border-radius: 100px;
    
    position: relative;
    top: -1px;
    margin-right: 10px;

    width: 7px;
    height: 7px;
}

.card-contact ul li a::before{
    display: none;
}


.card-about{
    background: #1F4FFF;
}

.card-about ul li.active a{
    color: #FFB800;
    font-family: HyundayBold, "HelveticaNeue-Bold";
    font-family: 'Inter', sans-serif;
}

.card-panel h2{
    font-size: 21px;
    line-height: 28px;
    margin-top: 7px;
}

.card-white h2{
    color: black !important;
    
}

.card-white a,
.card-white h3{
    color: #6E6E73;
}

.back-red-gradient{
    background: #DF144B;
    background: -webkit-linear-gradient( 
80deg,#DF144B,#FF223F 50%,#FF5601);
    background: linear-gradient( 
80deg,#DF144B,#FF223F 50%,#FF5601);
}

.border-rounded{
    border-radius: 10px;
}

.home-main-slider-prev-btn,
.home-main-slider-next-btn{
    position: absolute;
    display: inline;
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.1) !important;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    padding: 10px;
    line-height: 45px;
    text-align: center;
    /* border: 5px solid rgba(0,0,0,.02); */
    /* color: rgba(0,0,0,.3) !important; */
    
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.home-main-slider-prev-btn:hover,
.home-main-slider-next-btn:hover{
    background: rgba(0,0,0,.15);
    color: rgba(0,0,0,1) !important;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}   

.home-main-slider-prev-btn{
    left: 30px;
}

.home-main-slider-next-btn{
    right: 30px;
}

.child-company-item.border-red{
    /* border-radius: 10px; */
    /* border-top: 3px solid #FF223F !important; */
    /* border-top: 7px solid rgba(0,0,0,.03) !important; */
    /* border-top-right-radius: 0 !important; */
    /* border-top-left-radius: 0 !important; */
}

.child-company-item.border-blue{
    /* border-top: 3px solid #0AA7FF !important; */
    /* border-top: 7px solid rgba(0,0,0,.03) !important; */
}

.child-company-item.border-orange{
    /* border-top: 3px solid #FFB800 !important; */
    /* border-top: 7px solid rgba(0,0,0,.03) !important; */

}

.gray-img{
    filter: grayscale(100%);
}

.child-company-item{
    display: block;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.child-company-item:hover{
    transform: scale(1.02);

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.child-company-item .text-18{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.child-company-item:hover .text-18{
    color: #DF144B;
    

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

@keyframes scaler {
    0% {
        transform: scale(1);
        transform: rotate(-20deg);
    }

    60% {
        
        transform: rotate(-20deg);
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
        transform: rotate(-20deg);

    }
}

.speaker-icon{
    width: 50px;
    
    -webkit-animation: scaler 3s infinite;
    animation: scaler 3s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;

}

.home-products-list-dotnav{
    position: absolute;
    right: 0;
    top: 60px;
}

.subcompany-link{
    display: block;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.company-more-link{

    font-weight: bold;
}

.vision-container,
.value-container{
    border-bottom: 5px solid rgba(0,0,0,.05) !important;
    /* border-bottom-left-radius: 0 !important; */
    /* border-bottom-right-radius: 0 !important; */

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}


.vision-container:hover,
.value-container:hover,
.subcompany-link:hover{
    transform: scale(1.02);

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}


.subcompany-link:hover img{
    opacity: .6;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.border-light-gray{
    border-color: rgba(0,0,0,.05);
}

.uk-offcanvas-bar{
    background-color: #11014B;
}

.uk-offcanvas-bar a,
.uk-offcanvas-bar ul li a{
    color: white !important;
    font-weight: 500;
}



@media (max-width: 640px){

    h2.text-22{
        font-size: 18px !important;
    }

    img.home-media-icon{
        height: 20px;
        width: auto;
        margin-top: -2px;
    }

    .home-title{
        font-size: 23px;
        text-align: center;
        font-family: HyundayMedium;
        font-family: 'Inter', sans-serif;
        letter-spacing: -1px;
    }

    .home-title-container{
        text-align: center;
        margin-bottom: 10px;
        width: 100%;
    }

    .section-one-back-one{
        /* background: none; */
    }

    .section-one-back-two{
        /* background: none; */
    }

   

    .speaker-icon{
        width: 50px;

    }

    .card-panel{
        padding: 30px;
    }

    .card-panel h3{
        font-size: 11px !important;
    }

    .card-panel::before{
        margin-top: -30px;
    }

    .card-panel h2{
        font-size: 18px !important;
        line-height: 22px;
    }

    .card-panel a{
        font-size: 14px;
    }

    .section-one-back-two{
        padding-top: 15px;
    }

    .menu-border{
        margin-top: 15px;
    }

    .mobile-menu-burger{
        position: absolute;
        top: 5px;
        right: 0px;
    }

    .hyundaybold{
        /* font-family: HyundayMedium !important; */
        letter-spacing: -1px;
        font-family: 'Inter', sans-serif !important;
        font-weight: 800 !important;
    }

    .hyundayregular{
        letter-spacing: -1px;
    }

    .small-padding-0{
        padding-top: 0;
    }
}

/** END SECTION ONE **/


/** START SECTION TWO **/

.section-two{
    background: linear-gradient(180deg, rgba(248,248,249,1) 0%, rgba(255,255,255,1) 150%);
}

.section-title{
    /* font-family: HyundayBold; */
    font-family: 'Inter', sans-serif;
}

.home-media-icon{
    margin-top: -9px;
}

.content-list-item{
    /* white-space: normal; */
    /* box-shadow: 0px 3px 5px rgb(0 0 0 / 3%); */
    /* transition: all .3s cubic-bezier(0,0,.5,1); */
    border-radius: 10px;
    background: white;

}

.product-list-container ul li img:hover{
    transform: scale(1.2);
    
}

.content-list-img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    width: 100%;
}

.content-list-body{
    padding: 20px;
    padding-left: 20px;
}

.content-list-body h3{
    font-size: 21px;
    line-height: 28px;
    color: black;
}

.content-list-body:hover {

}


.content-list-body-title::before{
    content: "";
    display: inline-block;
    background: #FFB800;
    width: 7px;
    height: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -20px;
    margin-right: 16px;
    position: relative;
    bottom: -4px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.content-list-body-title:hover::before{
    width: 12px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.content-list-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ul.content-item-list li a:hover{
    /* transform: scale(1.02); */
    /* margin-top: 3px; */
}

.content-list-copyright{
    margin-left: 7px;
}

.light-gray-border{
    border-color: #F4F4F4;
}

.box-shadow{
    box-shadow: 0px 3px 5px rgb(0 0 0 / 3%);
    background: white;
    border-radius: 10px;
    border: 1px solid #F7F7F7;
}

.home-news-item{
    border-bottom: 1px solid #F7F7F7;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


article.home-news-item:last-child{
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.home-news-item h4{
    font-weight: 500;
}

.home-mission-item{
    min-height: 300px;
}
.home-mission-item>div{
    background-size: cover;
    border-radius: 10px;
}

.mission-item-slider{
    border-radius: 10px;
}

.mission-item-container li .home-mission-item{
    /* background-image: url('/web/20220124054219im_/https://tngr.media/wp-content/themes/tngrtheme/assets/img/mission-one.png'); */
    /* background-size: cover; */
}

.mission-item-container li img{

}

.progress-container{

    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(248,248,249,1);
    z-index: 100;
    overflow: hidden;
}

.stock-value-item{
    position: relative;
}

.stock-value-item::after{
    content: "";
    display: block;
    position: absolute;
    background-color: white;
    width: 10px;
    height: 2px;
    border-radius: 100px;
    bottom: -10px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.stock-value-item{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.stock-value-item:hover::after{
    width: 45px;
    /* background-color: rgba(0,0,0,.1); */

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.stock-value-item:hover{
    margin-top: -4px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.stock-value-item .txt-black::before{
    /* content: "";
    display: inline-block;
    background-color: black;
    width: 0;
    height: 2px;
    border-radius: 10px;
    position: relative;
    top: -2px; */

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.stock-value-item:hover .txt-black{
    /* margin-left: 10px; */

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.other-news-btn span{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}


.other-news-btn:hover span{

    margin-left: 10px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.home-news-item{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.home-news-item a{
    display: inline-block;
    margin-left: 20px;
}

.home-news-item::before{
    content:"";
    display: inline-block;
    position: absolute;
    background: #DF144B;
    background: -webkit-linear-gradient( 
80deg,#DF144B,#FF223F 50%,#FF5601);
    background: linear-gradient( 
80deg,#DF144B,#FF223F 50%,#FF5601);
    border-radius: 100px;
    width: 8px;
    height: 8px;
    left: 0;
    top: 8px;
}

.home-news-item h4{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.home-news-item a:hover h4{
    color: #044F9C;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.home-news-item:hover{
    margin-left: 5px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

ul.footer-logo-list li a{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

ul.footer-logo-list li a:hover{
    opacity: .5;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.home-messenger-link{


    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

@keyframes messenger {
    0% {
        transform: scale(1);
        transform: rotate(0deg);
    }

    60% {
        
        transform: rotate(-20deg);
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
        transform: rotate(-20deg);

    }
}



.home-messenger-link,
.home-messenger-link img{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.home-messenger-link .text-black{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.home-messenger-link:hover .text-black{
    color: #1F4EFE;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.home-messenger-link:hover img{

    -webkit-animation: messenger 1s infinite;
    animation: messenger 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.about-submenu li a{
    color: white;
}

.footer-menu li a{
    color: #888888;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.footer-menu li a:hover{
    color: #282828;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.wpcf7-response-output{
    border: none !important;
    border-top: 5px solid rgba(0,0,0,.05) !important;
    padding-top: 10px !important;
    padding-left: 0 !important;
}

@media(min-width: 300px) and (max-width: 959px){
    .stock-value-container{
        margin-left: 18px;
        margin-top: 20px;
    }
}

@media (max-width: 640px){
    .small-margin-top-50{
        margin-top: 50px;
    }

    .home-news-item h4{
        letter-spacing: -1px        ;
    }

    .small-margin-top-0{
        margin-top: 0;
    }
}


@media (max-width: 300px){
    .stock-value-container{
        margin-left: 0px;
        margin-top: 20px;
    }
}

/** END SECTION TWO **/

/** START FOOTER **/

.footer{
    background: #F5F5F7;
}

/** END FOOTER **/


@media (max-width: 960px){

}





@media (max-width: 640px){

    .page-title-big{
        font-size: 34px !important;
        line-height: 42px !important;
    }

}
/*
     FILE ARCHIVED ON 05:42:19 Jan 24, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:37:39 Apr 12, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.584
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.015
  esindex: 0.01
  cdx.remote: 102.547
  LoadShardBlock: 248.978 (3)
  PetaboxLoader3.datanode: 187.434 (5)
  PetaboxLoader3.resolve: 376.359 (2)
  load_resource: 338.205
  loaddict: 67.002
*/